<!--
|--------------------------------------------------------------------------
| Classifier
|--------------------------------------------------------------------------
-->
<template id="classifier-template">
    <div class="classifier">
        <div class="row">
            <h2>Classifier</h2>
            <div class="col-md-6 col-xs-12">
                <div class="media main__media">
                    <div class="media-left">
                        <img src="img/gustav_wondering.png" alt="Gustav is wondering whether or not to play golf today">
                    </div>
                    <div class="media-body">
                        After all this hard work, Gustav wants to treat
                        himself with a game of golf. But is it really a
                        good day to play? Let's find out using Gustav's
                        new decision tree!
                        <br>
                        Here are today's weather data:
                        <table class="table table-striped dataset__data">
                            <thead>
                            <tr>
                                <th>outlook</th>
                                <th>temperature</th>
                                <th>humidity</th>
                                <th>windy</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>sunny</td>
                                <td>85</td>
                                <td>85</td>
                                <td>no</td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-default" @click="nextClassificationStep()">Classify</button>
                        <br>{{{ msg }}}<br>
                    </div>
                </div>
            </div> <!-- /.col -->
            <div class="col-md-6 col-xs-12">
                <tree v-ref:tree id="classifier-tree" :vis-options="{
        tree: {
            layout: {
                hierarchical: {
                    nodeSpacing: 200
                }
            },
            nodes: {
                shape: 'ellipse',
                color: '#98c379',
                font: {
                    face: 'Open Sans',
                    size: 20
                }
            },
            edges: {
                arrows: {
                    to: {
                        enabled: true,
                        scaleFactor: 0.75
                    }
                },
                font: {
                    face: 'Open Sans',
                    size: 16,
                    background: '#eeeeee'
                },
                color: '#666'
            }
        },
        leaf: {
            shape: 'box',
            color: '#3286cc'
        }
    }">
                </tree>
            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </div> <!-- /.classifier -->
</template>

<script>
    let Tree = require('./Tree.vue');

    module.exports = {
        name: 'classifier',
        template: '#classifier-template',
        components: {
            'tree': Tree
        },
        props: {
            classifyGen: {
                type: Object,
                required: false
            },
            msg: {
                type: String,
                default: '',
                required: false
            }
        },
        created: function() {
            this.classifyGen = this.classifyGenerator();
        },
        methods: {

            nextClassificationStep: function() {
                let classificationStep = this.classifyGen.next();
                this.msg = classificationStep.value.msg;
            },

            classifyGenerator: function*(node, edge, displayAttributeCheckMsg) {
                node = node || this.$refs.tree.tree;
                displayAttributeCheckMsg = displayAttributeCheckMsg || true;

                // TODO: define sample in a json file, read and print to user
                let sample = {
                    "outlook":     "sunny",
                    "temperature": 85,
                    "humidity":    85,
                    "windy":       false
                };

                console.log(`display attribute? ${displayAttributeCheckMsg}`);
                if(displayAttributeCheckMsg === true) yield { msg: `We now check the value for attribute <strong>${node.label}</strong>.`}; //FIXME: why is this always true?

                let clazz = null;
                if(node.type !== Symbol.for("Leaf")) {
                    this.$refs.tree.changeVisNodeColor(node.id, '#f96d06');
                    console.log(`check attribute ${node.label} ...`);
                    let val    = sample[node.label];

                    edge = edge || node.edges[Object.keys(node.edges)[0]];
                    this.$refs.tree.changeVisEdgeColor(edge.id, '#f96d06');

                    let result = edge.rule(val);
                    console.log(`test ${val} ${edge.label}: ${result}`);

                    if(result) {
                        node = edge.node;
                        this.$refs.tree.changeVisNodeColor(node.id, '#f96d06');
                        this.$refs.tree.changeVisEdgeColor(edge.id, '#98c379');

                        if(node.type !== Symbol.for("Leaf")) {
                            yield { msg: `<strong>${val}</strong> <strong>${edge.label}</strong>, so we move on to the next node: <strong>${node.label}</strong>`, node: node, edge: undefined, done: false };
                            yield *this.classifyGenerator(node);
                        } else {
                            yield { msg: `The next node is a leaf, so we can now assign a class to our label.`};
                            yield *this.classifyGenerator(node, undefined, false);
                        }
                    } else {
                        let prevEdge  = edge;
                        let edgeIndex = this.getObjectKeyIndex(node.edges, edge.label);
                        edge = node.edges[Object.keys(node.edges)[edgeIndex + 1]];

                        yield { msg: `Since <strong>${val}</strong> doesn\'t match <strong>${prevEdge.label}</strong>, we check the next edge: <strong>${edge.label}</strong>`, node: node, edge: edge, done: false };

                        this.$refs.tree.changeVisEdgeColor(prevEdge.id, '#666');

                        yield *this.classifyGenerator(node, edge, false);
                    }
                } else {
                    clazz = node.label;
                    sample.play = (clazz == 'play');
                    yield { msg: `Today is a day to <strong>${clazz}</strong> golf!`, clazz: clazz, sample: sample, done: true };
                }
            },
            getObjectKeyIndex: function(obj, key) {
                let i = 0;
                for(let prop in obj) {
                    if(prop == key) return i;
                    i++;
                }

                return -1;
            }
        },
        events: {
            'Main.children.updateTree': function(tree, treeVis) {
                this.$refs.tree.updateTree(tree, treeVis);
            }
        }
    }
</script>
