<!--
|--------------------------------------------------------------------------
| Random Forest
|--------------------------------------------------------------------------
-->

<template id="forest-template">
    <div class="forest">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h2>Random Forest - Majority Voting</h2>
                <div class="media main__media">
                    <div class="media-body">
                        <p>
                            Since <b>Gustav</b> doesn't trust the outcome of a single tree, he decides that he wants more
                            opinions.
                            He trains different trees to form a <b>Random Forest</b>, which will finally answer his urge to play
                            golf by
                            having a democratic <b>majority vote</b>.
                        </p>
                        <p>
                            (Note: After generating several trees through training datasets, a <b>Random Forest</b> is composed.
                            The classification of the data can now be executed by classifying the data by <b>each single
                            tree</b> and
                            having a <b>majority vote</b> with all the results.)
                        </p>
                        <div class="col-md-6 col-md-offset-3">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>outlook</th>
                                    <th>temperature</th>
                                    <th>humidity</th>
                                    <th>windy</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>sunny</td>
                                    <td>85</td>
                                    <td>85</td>
                                    <td>no</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row span6">
                                <button id="nextVotingStepButton" class="btn btn-default" style="width: 100%;" @click="nextStepIntoTheWoods()">Start voting</button>
                            </div>
                            <br>{{{ msg }}}<br>
                        </div>
                    </div>
                </div>
            </div> <!-- /.col -->
        </div> <!-- /.row -->
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-12 col-xs-12">
                <tree v-ref:tree1 id="forest-tree1" :vis-options="treeVisOpts" :show-tree-label="true"
                      tree-label="Tree 1"></tree>
                <tree v-ref:tree2 id="forest-tree2" :vis-options="treeVisOpts" :show-tree-label="true"
                      tree-label="Tree 2"></tree>
                <tree v-ref:tree3 id="forest-tree3" :vis-options="treeVisOpts" :show-tree-label="true"
                      tree-label="Tree 3"></tree>
            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </div>
</template>

<script>
    import Tree from './Tree.vue';

    module.exports = {
        name: 'forest',
        template: '#forest-template',
        components: {
            'tree': Tree
        },
        props: {
            initialized: {
                type: Boolean,
                default: false,
                required: false
            },
            data: {
                type: Object,
                required: false
            },
            treeVisOpts: {
                type: Object,
                required: false
            },
            msg: {
                type: String,
                default: '',
                required: false
            },
            forestLocation: {
                type: Number,
                default: 1,
                required: false
            }
        },
        created: function () {
            this.forestGen = this.forestGenerator();

            this.treeVisOpts = {
                tree: {
                    layout: {
                        hierarchical: {
                            nodeSpacing: 100
                        }
                    },
                    nodes: {
                        shape: 'ellipse',
                        color: '#98c379',
                        font: {
                            face: 'Open Sans',
                            size: 14
                        }
                    },
                    edges: {
                        arrows: {
                            to: {
                                enabled: true,
                                scaleFactor: 0.75
                            }
                        },
                        font: {
                            face: 'Open Sans',
                            size: 10,
                            background: '#eeeeee'
                        },
                        color: '#666'
                    }
                },
                leaf: {
                    shape: 'box',
                    color: '#3286cc'
                }
            };
        },
        methods: {
            nextStepIntoTheWoods: function () {
                let forestStep = this.forestGen.next();
            },
            forestGenerator: function*() {
                if (this.forestLocation === 1) {
                    let sample = {
                        "outlook": "sunny",
                        "temperature": 85,
                        "humidity": 85,
                        "windy": false
                    };

                    $("#nextVotingStepButton").html('Continue voting');

                    yield this.msg = 'At first <b>all trees vote</b> on the sample weather data.';
                    this.$refs.tree1.classify(sample, true);
                    this.$refs.tree2.classify(sample, true);
                    this.$refs.tree3.classify(sample, true);
                    yield this.forestLocation++;

                    yield * this.forestGenerator();
                }
                else if (this.forestLocation === 2) {
                    yield this.msg = 'Afterwards the majority vote decides on the <b>classification outcome.</b>';
                    this.forestLocation++;

                    yield * this.forestGenerator();
                }
                else if (this.forestLocation === 3) {
                    this.msg = 'Since <b>2 trees</b> voted for <b>"not to play"</b> and <b>one</b> voted to <b>"play"</b>, the <b>majority</b> wins. <b>Don&#39;t play golf today!</b>';
                    $("#nextVotingStepButton").html('Voting has ended');
                    $("#nextVotingStepButton").attr("disabled", true);
                }
            }
        },
        events: {
            'Main.children.updateTree': function (tree, treeVis) {

            },
            'Main.children.dispatchData': function (data) {
                this.data = data;
                this.initialized = true;

                let tree1 = ml.trainRfTree(data, 676);
                this.$refs.tree1.updateTree(tree1);

                let tree2 = ml.trainRfTree(data, 2356);
                this.$refs.tree2.updateTree(tree2);

                let tree3 = ml.trainRfTree(data, 153);
                this.$refs.tree3.updateTree(tree3);
            }
        }
    }
</script>
