<!--
|--------------------------------------------------------------------------
| Main
|--------------------------------------------------------------------------
-->
<template id="main-template">
    <div class="main">
        <div class="row">
            <nav>
                <ul class="pager">
                    <li @click="previous"><a href="#">Previous</a></li>
                    <li @click="next()"><a href="#">Next</a></li>
                </ul>
            </nav>
        </div>
        <hr>
        <div class="row">
            <div v-show="currentState === 'intro1'" class="col-md-6 col-xs-12">
                <h1>Hi</h1>
                <div class="media main__media">
                    <div class="media-left">
                        <img src="img/gustav.png" alt="Gustav">
                    </div>
                    <div class="media-body">
                        This is <strong>Gustav</strong>. Gustav
                        likes to play Golf. But, Gustav is a very
                        cautious person and therefore never sure
                        if it is a good idea to take the risk of
                        packing all his stuff, driving to the golf
                        court and starting to play; not knowing if
                        he is really going to enjoy it.
                    </div>
                </div>
            </div> <!-- /.col -->
        </div> <!-- /.row -->
        <div v-show="currentState === 'intro2'" class="row">
            <div class="col-md-6 col-xs-12">
                <div class="media main__media">
                    <div class="media-left">
                        <img src="img/lightbulb.png" alt="Idea">
                    </div>
                    <div class="media-body">
                        <p>
                            Luckily, Gustav has an idea: at the university
                            he heard something about <strong>Decision Trees</strong>
                            and <strong>Random Forests</strong>. They are
                            able to learn how to make decisions based on
                            existing data.
                        </p>
                        <p>
                            This sounds just like what Gustav needs: given
                            that he is a very squeamish person, he wrote down
                            the weather for each day in his diary, and of
                            course also what he did that day -- so he knows
                            about the weather conditions for each day he
                            played golf, and if he played until the end or
                            if he stopped earlier due to bad weather conditions.
                        </p>
                    </div>
                </div>
            </div> <!-- /.col -->
        </div> <!-- /.row -->
        <div v-show="currentState === 'training'" class="row">
            <trainer v-ref:trainer></trainer>
        </div>
        <div v-show="currentState === 'classification'" class="row">
            <classifier v-ref:classifier></classifier>
        </div>
        <div v-show="currentState === 'forest'" class="row">
            <forest v-ref:forest></forest>
        </div>
        <div v-show="currentState === 'outro'" class="row">
            <div class="col-md-6 col-xs-12">
                <h2>No golf today</h2>
                <div class="media main__media">
                    <div class="media-left">
                        <img src="img/coffee.png" alt="A cup of coffee">
                    </div>
                    <div class="media-body">
                        Sadly, this is not a good day to play golf.
                        Why not grab a cup of coffee and dig a little
                        deeper into the world of machine learning?
                    </div>
                </div>
            </div>
        </div>
        <div v-show="currentState === 'credits'" class="row">
            <div class="col-md-6 col-xs-12">
                <h2>References</h2>
                <ul>
                    <li><a href="http://vuejs.org" title="Vue.js">Vue.js (MVVM framework)</a></li>
                    <li><a href="http://visjs.org" title="Vis.js">Vis.js (Tree visualization)</a></li>
                    <li><a href="http://getbootstrap.com" title="Bootstrap">Bootstrap CSS Framework</a></li>
                </ul>
                All images taken from <a href="http://www.freepik.com" title="Freepik.com">Freepik.com</a>.
            </div>
        </div>
        <hr>
        <div class="row">
            <nav>
                <ul class="pager">
                    <li @click="previous()"><a href="#">Previous</a></li>
                    <li @click="next()"><a href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>
    let Trainer = require('./Trainer.vue');
    let Classifier = require('./Classifier.vue');
    let Forest = require('./Forest.vue');

    module.exports = {
        name: 'main',
        template: '#main-template',
        components: {
            'trainer': Trainer,
            'classifier': Classifier,
            'forest': Forest
        },
        data: function () {
            return {
                states: ['intro1', 'intro2', 'training', 'classification', 'forest', 'outro', 'credits'],
                currentState: 'intro1',
                currentPosition: 0,
                redrawTreeStates: {'training': true, 'classification': true, 'forest': true}
            }
        },
        properties: {
            data: {
                type: Object,
                required: false
            }
        },
        created: function () {
            // - load data file
            var self = this;
            util.readDataFromFile('data/golf.json', function (data) {
                self.data = JSON.parse(data);
                self.$broadcast('Main.children.dispatchData', self.data);
            });
        },
        methods: {
            next: function () {
                if (this.currentPosition !== this.states.length - 1) {
                    this.currentState = this.states[++this.currentPosition];
                }
                // redraw tree when switching into a part with a tree component
                if (this.currentState in this.redrawTreeStates
                        && this.redrawTreeStates[this.currentState]) {
                    this.$broadcast('Tree.redrawTree');
                }
            },
            previous: function () {
                if (this.currentPosition !== 0) {
                    this.currentState = this.states[--this.currentPosition];
                }
                // redraw tree when switching into a part with a tree component
                if (this.currentState in this.redrawTreeStates
                        && this.redrawTreeStates[this.currentState]) {
                    this.$broadcast('Tree.redrawTree');
                }
            }
        },
        events: {
            'Main.dispatchTree': function (tree, treeVis) {
                this.$broadcast('Main.children.updateTree', tree, treeVis);
            }
        }
    }
</script>
