<!--
|--------------------------------------------------------------------------
| Trainer
|--------------------------------------------------------------------------
-->
<!-- TODO: extract dataset into new Vue component -->
<template id="trainer-template">
    <div class="dataset clearfix">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h2>Building a decision tree</h2>
            </div> <!-- /.col -->
            <div class="col-md-6 col-xs-12">
                <div class="media main__media">
                    <div class="media-left">
                        <img src="img/train.png" alt="Trees">
                    </div>
                    <div class="media-body">
                        <p>
                            In order to build (or <strong>train</strong>) a decision tree, Gustav needs
                            to feed it with weather data he knows the outcome for (i.e. whether he enjoyed
                            playing golf (class <strong>play</strong>) or not (class <strong>don't play</strong>)
                            on that day.
                        </p>
                        <p>
                            In Machine Learning, this is called a data set. It consists of attributes that characterize
                            each data point (e.g. <strong>outlook</strong>, <strong>temperature</strong>, etc)
                            and a <strong>goal</strong> variable (in this case, <strong>play</strong>),
                            that is <strong>dependent</strong> on the data point's attributes.
                        </p>
                    </div>
                </div>
            </div> <!-- /.col -->
            <div class="col-md-6 col-xs-12">
                <div class="dataset__info">
                    <p>
                        The basic scheme for training a tree is as follows:
                    </p>
                    <ol>
                        <li>
                            Find the attribute with the highest <strong>information gain</strong>, that is,
                            the attribute that best divides the data set into two distinct parts of samples.
                            This is useful to keep the resulting tree small, speeding up the learning and
                            classification process.
                        </li>
                        <li>
                            Once we have determined that attribute, we insert it into our tree as a <strong>node</strong>.
                            Each attribute <strong>value</strong> is inserted into the tree as an <strong>edge</strong>
                            that leads to the next node. That node again is determined by calculating the information
                            gain for each attribute, but only for those samples that have an attribute value that
                            corresponds to the current edge. This process is called <strong>splitting</strong>.
                        </li>
                        <li>
                            Lastly, if a <strong>split</strong> results in a subset of samples that is <strong>pure</strong>,
                            i.e. where all samples belong to the same class, we insert a <strong>leaf node</strong> into
                            our tree with that class.
                        </li>
                    </ol>
                </div>
            </div> <!-- /.col -->
            <div class="col-md-12 col-xs-12">
                <hr>
                <p>
                    Now, <strong>Gustav</strong> knows that using a single tree might not always give the best
                    results since trees may suffer of <strong>overfitting.</strong> For this reason, he wants
                    to create <strong>several</strong> trees that all only see part of the data (in terms of
                    Machine Learning, this refers to <strong>re- or subsampling</strong>, i.e. selecting a random
                    subset of attributes from the original data set).
                </p>
                <p>
                    Hit the <strong>Start training</strong> button below to see how a tree for a random subpart of
                    the data set is generated!
                </p>
            </div> <!-- /.col -->
        </div> <!-- /.row -->
        <div class="row">
            <div class="col-md-6 col-x-12">
                <table class="table table-striped dataset__data" v-if="initialized">
                    <thead>
                    <tr>
                        <th v-for="attr in data.attributes" :class="dataTableColumnClasses(attr)">
                            {{ attr }}
                        </th>
                        <th>
                            {{ data.goal }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(i, sample) in data.data" track-by="$index">
                        <td v-for="(attr, val) in sample" :class="dataTableCellClasses(i, attr, val)">
                            {{ val }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 col-x-12">
                <div id="trainMsg" style="margin-top: 30px;">&nbsp;</div><br>
                <button id="nextTrainStepBtn" class="btn btn-default" @click="nextTrainStep()">Start training</button>
                <button id="finishTrainBtn" class="btn btn-default" @click="finishTrain()">Finish training</button>
                <tree v-ref:tree id="trainer-tree" :vis-options="{
                    tree: {
                        layout: {
                            hierarchical: {
                                nodeSpacing: 200
                            }
                        },
                        nodes: {
                            shape: 'ellipse',
                            color: '#98c379',
                            font: {
                                face: 'Open Sans',
                                size: 20
                            }
                        },
                        edges: {
                            arrows: {
                                to: {
                                    enabled: true,
                                    scaleFactor: 0.75
                                }
                            },
                            font: {
                                face: 'Open Sans',
                                size: 16,
                                background: '#eeeeee'
                            },
                            color: '#666'
                        }
                    },
                    leaf: {
                        shape: 'box',
                        color: '#3286cc'
                    }
                }"></tree>
            </div>
        </div>
    </div>
</template>

<script>
    let Tree = require('./Tree.vue');

    module.exports = {
        name: 'trainer',
        template: '#trainer-template',
        components: {
            'tree': Tree
        },
        props: {
            initialized: {
                type: Boolean,
                default: false,
                required: false
            },
            data: {
                type: Object,
                required: false
            },
            tree: {
                type: Object,
                required: false
            },
            trainGen: {
                type: Object,
                required: false
            },
            splitGen: {
                type: Object,
                required: false
            },
            consideredAttributes: {
                type: Array,
                required: false
            },
            activeSplitAttribute: {
                type: String,
                required: false
            },
            activeFilters: {
                type: Object,
                required: false
            }
        },
        created: function () {
            this.consideredAttributes = [];
            this.activeSplitAttribute = null;
            this.activeFilters = {};

            this.data = {};
            this.tree = {};
        },
        methods: {
            /**
             * Performs next training step and updates the visualization(s).
             */
            nextTrainStep: function() {
                let trainStep = this.trainGen.next();
                if (trainStep.done) {
                    this._finishTrainTasks();
                } else {
                    $("#trainMsg").html(trainStep.value.msg);
                }
            },

            /**
             * Finishes the training.
             */
            finishTrain: function() {
                while (true) {
                    let step = this.trainGen.next();
                    if (step.done) {
                        break;
                    }
                }
                this._finishTrainTasks();
            },

            /**
             * Performs tasks to do when training is finished.
             */
            _finishTrainTasks: function() {
                $("#nextTrainStepBtn").attr("disabled", true);
                $("#finishTrainBtn").attr("disabled", true);
                $("#trainMsg").html('Training finished!');
                this.$broadcast('Tree.dispatchTree');
                this.activeSplitAttribute = null;
                this.activeFilters = {};
            },

            /**
             * Generator that visualizes training a single tree in a random forest.
             *
             * @param {*} [seed] the seed value for random operations.
             */
            trainRfTreeGenerator: function*(seed) {
                if (typeof seed !== 'undefined') {
                    // set seed for pedictable results
                    seedrandom(seed, {global: true});
                }

                // - change button label on first click
                $("#nextTrainStepBtn").html('Next training step');

                // - perform resampling of input data.
                yield {'msg': 'Perform resampling of input data.'};
                this.data.data = this.data.data.resample().values;

                // train tree
                let recursiveTrainGen = this._trainRfTreeRecursiveGenerator(this.data, this.tree);
                while (true) {
                    let step = recursiveTrainGen.next();
                    if (step.done) {
                        break;
                    } else {
                        yield step.value;
                    }
                }
            },

            /**
             * Generator that performs the recursive training steps.
             *
             * @param data the data object containing training set information
             * @param root the (current) root node of the tree
             */
            _trainRfTreeRecursiveGenerator: function*(data, root) {
                yield {'msg': 'Select random subset of attributes to consider.'};

                // consider only a random subsample of available attributes
                let numAttrs = Math.ceil(Math.sqrt(data.attributes.length));
                var attrs = data.attributes.randomSubset(numAttrs);

                // highlight considered attributes
                this.consideredAttributes = attrs;

                yield {'msg': 'Determine attribute which best divides the data set.'};

                // determine attribute for best split
                let maxInfoGain = -1;
                let maxInfoGainAttr = null;
                for (let attr of attrs) {
                    let infoGain = ml.calculateInformationGain(data.data, attr, data.goal);
                    if (maxInfoGain < infoGain) {
                        maxInfoGain = infoGain;
                        maxInfoGainAttr = attr;
                    }
                }

                console.log(`Best split: ${maxInfoGainAttr} (IG = ${maxInfoGain})`);

                // highlight split attribute
                this.consideredAttributes = [];
                this.$set('activeSplitAttribute', maxInfoGainAttr);

                // add node to tree
                root.id = _.uniqueId();
                root.label = maxInfoGainAttr;
                root.type = Symbol.for("Node");
                root.edges = {};

                // update tree visualization
                this.$refs.tree.updateTree(this.tree);

                yield {'msg': 'Split on the selected attribute.'};

                // perform split
                let first = true;
                let splits = ml.getSplitsForAttribute(data.data, maxInfoGainAttr, data.goal);
                for (let split of splits) {
                    let filteredData = $.extend({}, data, {
                        'data': ml.filterDataSetByAttribute(data.data, maxInfoGainAttr, split.check),
                        'attributes': data.attributes.remove(maxInfoGainAttr)
                    });

                    // - highlight filter attributes & their values accordingly
                    this.$set(`activeFilters.${split.attr}`, split);

                    yield {'msg': ((first) ? 'One' : 'Another') + ` possible split for this attribute is '${maxInfoGainAttr} ${split.label}'`};

                    if (ml.isPure(filteredData.data)) {
                        let result = filteredData.data[0][data.goal];
                        console.log(`Split ${split.label} is pure.`);

                        root.edges[split.label] = {
                            id: _.uniqueId(),
                            label: split.label,
                            rule: split.check,
                            node: {
                                id: _.uniqueId(),
                                label: filteredData.data[0][data.goal],
                                type: Symbol.for("Leaf"),
                                parent: root
                            }
                        };

                        // update tree visualization
                        this.$refs.tree.updateTree(this.tree);

                        yield {'msg': `This new branch is pure, resulting in '${data.goal} == ${result}'`};
                    } else {
                        console.log(`Split ${split.label} is not pure yet.`);

                        yield {'msg': 'This new branch is not pure yet, continue branching...'};

                        let child = {
                            parent: root
                        };
                        root.edges[split.label] = {
                            id: _.uniqueId(),
                            label: split.label,
                            rule: split.check,
                            node: child
                        };

                        yield *this._trainRfTreeRecursiveGenerator(filteredData, child);
                    }
                }
            },

            /**
             * Returns the CSS classes (as space separated string) for the data columns, i.e. attributes.
             *
             * @param attribute
             * @returns {string}
             */
            dataTableColumnClasses: function (attribute) {
                let classes = [];

                if (attribute in this.activeFilters) {
                    classes.push('dataset__filter');
                } else if (attribute === this.activeSplitAttribute) {
                    classes.push('dataset__split animated bounce');
                } else if (this.consideredAttributes.indexOf(attribute) !== -1) {
                    classes.push('dataset__considered');
                }
                return classes.join(' ');
            },

            /**
             * Returns the CSS classes (as space separated string) for the data cells, i.e. sample attribute values.
             *
             * @param sampleNr
             * @param attribute
             * @param value
             * @returns {string}
             */
            dataTableCellClasses: function (sampleNr, attribute, value) {
                let classes = [];
                if (attribute === this.data.goal && Object.keys(this.activeFilters).length > 0) {
                    // mark goal values resulting from active set of filters
                    let matchAllFilters = true;
                    for (let attr in this.activeFilters) {
                        if (!this.activeFilters.hasOwnProperty(attr)) {
                            continue;
                        }
                        if (!this.activeFilters[attr].check(this.data.data[sampleNr][attr])) {
                            matchAllFilters = false;
                            break;
                        }
                    }
                    if (matchAllFilters) {
                        classes.push('dataset__filter_goal');
                    }
                }
                if (attribute in this.activeFilters && this.activeFilters[attribute].check(value)) {
                    classes.push('dataset__filter');
                }
                return classes.join(' ');
            }
        },
        events: {
            'Main.children.dispatchData': function (data) {
                this.data = $.extend({}, data); // we need a copy because we want to visualize the subsampled data
                this.initialized = true;
                this.trainGen = this.trainRfTreeGenerator(676);
            }
        }
    }
</script>
