<!--
|--------------------------------------------------------------------------
| Tree
|--------------------------------------------------------------------------
-->
<template id="tree-template">
    <div class="tree" id="{{id}}">
        <span class="label label-success" v-show="showTreeLabel">
            {{treeLabel}}
        </span>
        <div class="tree-canvas"></div>
    </div>
</template>

<script>
    var defaultVisOpts = {
        tree: {
            layout: {
                hierarchical: {
                    direction: 'UD',
                    sortMethod: 'directed'
                }
            },
            interaction: {
                dragNodes: false,
                dragView: false,
                selectable: false,
                zoomView: false
            }
        },
        node: {},
        edge: {},
        leaf: {}
    };

    module.exports = {
        name: 'tree',
        template: '#tree-template',
        components: {},
        props: {
            id: {
                type: String,
                required: true
            },
            showTreeLabel: {
                type: Boolean,
                required: false,
                default: false
            },
            treeLabel: {
                type: String,
                required: false
            },
            tree: {
                type: Object,
                required: false
            },
            visTree: {
                type: Object,
                required: false
            },
            visNodes: {
                type: Object,
                required: false
            },
            visEdges: {
                type: Object,
                required: false
            },
            visOptions: {
                type: Object,
                required: false,
                default: function () {
                    return {};
                }
            }
        },
        created: function () {
            this.tree = {};
            this.visNodes = new vis.DataSet();
            this.visEdges = new vis.DataSet();
        },
        methods: {
            /**
             * Updates the tree data and optionally the tree visualization.
             *
             * @param {Object} tree the tree data
             * @param {Object} treeVis the tree visualization data
             * @param {Object} [treeVis.nodes] the tree visualization node set (if omitted, will be generated based on 'tree')
             * @param {Object} [treeVis.edges] the tree visualization edge set (if omitted, will be generated based on 'tree')
             */
            updateTree: function (tree, treeVis) {
                this.tree = tree;
                if (!treeVis || !treeVis.nodes || !treeVis.edges) {
                    this._rebuildVisTree(tree, false);
                } else {
                    this.visNodes = treeVis.nodes;
                    this.visEdges = treeVis.edges;
                }
                this.redrawVisTree();
            },
            classify: function (sample, highlightClassificationProcess) {
                console.log('---------------');
                console.log('classify sample');
                console.log('---------------');
                console.log(sample);

                var me = this;

                let node = me.tree;
                let clazz = null;
                while (!_.isUndefined(node.edges) && node.type !== Symbol.for("Leaf")) {
                    console.log(`check attribute ${node.label} ...`);
                    let val = sample[node.label];
                    _.each(node.edges, function (edge) {
                        let result = edge.rule(val);
                        console.log(`\ttest ${val} ${edge.label}: ${result}`);
                        if (result) {
                            node = edge.node;

                            if (highlightClassificationProcess) {
                                me.changeVisNodeColor(node.id, '#f96d06');
                                me.changeVisEdgeColor(edge.id, '#98c379');
                            }

                            if (node.type === Symbol.for("Leaf")) {
                                console.log(`\tarrived at a leaf, assign class: ${node.label}`);
                                clazz = node.label;
                            }
                        }
                    });
                }
                console.log(`class: ${clazz}`);
                sample.play = (clazz == 'play');
                console.log(sample);
            },

            /**
             * Adds a new node to the tree visualization.
             *
             * @param {Object} nodeData the data of the node to add.
             * @param {Object} [parentNodeData] the data of the parent node (in case an edge should also be added).
             * @param {Object} [edgeData] the data of the edge (in case an edge should also be added).
             * @param {Object} [nodeOpts={}] additional options for vis.js
             * @param {Object} [edgeOpts={}] additional options for vis.js
             */
            _addVisNode: function (nodeData, parentNodeData, edgeData, nodeOpts, edgeOpts) {
                nodeOpts = nodeOpts || {};
                edgeOpts = edgeOpts || {};

                // add node
                let visNode = {
                    id: nodeData.id,
                    parentId: (parentNodeData) ? parentNodeData.id : undefined,
                    label: nodeData.label
                };
                visNode = $.extend(true, visNode, nodeOpts);
                this.visNodes.add([visNode]);

                // add edge if needed
                if (parentNodeData && edgeData) {
                    let parentVisNode = this.visNodes.get(parentNodeData.id);
                    let visEdge = {
                        id: edgeData.id,
                        from: parentVisNode.id,
                        to: visNode.id,
                        label: edgeData.label
                    };
                    visEdge = $.extend(true, visEdge, edgeOpts);
                    this.visEdges.add([visEdge]);
                }
            },

            /**
             * Rebuilds the tree visualization.
             *
             * @param {Object} tree the tree used to rebuild the tree visualization.
             * @param {Boolean} [redraw=true] whether to redraw the visualization.
             */
            _rebuildVisTree: function (tree, redraw) {
                if (typeof redraw === "undefined") {
                    redraw = true;
                } else {
                    redraw = !!redraw;
                }

                // clear node and edge sets first
                this.visNodes.clear();
                this.visEdges.clear();

                // recreate node and edge sets
                this._rebuildVisTreeRecursive(tree);

                // redraw tree
                if (redraw) {
                    this.redrawVisTree();
                }
            },

            /**
             * Recursively builds the tree visualization.
             *
             * @param {Object} root the start node for recreating the tree visualization.
             */
            _rebuildVisTreeRecursive: function (root) {
                // prepare vis.js options
                var nodeOpts = {}, edgeOpts = {};
                if (root.type === Symbol.for("Leaf")) {
                    nodeOpts = $.extend(true, nodeOpts, defaultVisOpts.leaf, this.visOptions.leaf);
                } else {
                    nodeOpts = $.extend(true, nodeOpts, defaultVisOpts.node, this.visOptions.node);
                }
                edgeOpts = $.extend(true, edgeOpts, defaultVisOpts.edge, this.visOptions.edge);

                if (!root.parent) {
                    // only add node
                    this._addVisNode(root, undefined, undefined, nodeOpts, edgeOpts);
                } else {
                    // add node with edge
                    let edge = null;
                    // find parent edge
                    for (let edgeId in root.parent.edges) {
                        if (!root.parent.edges.hasOwnProperty(edgeId)) {
                            continue;
                        }
                        if (root.parent.edges[edgeId].node == root) {
                            edge = root.parent.edges[edgeId];
                            break;
                        }
                    }
                    if (edge !== null) {
                        this._addVisNode(root, root.parent, edge, nodeOpts, edgeOpts);
                    }
                }
                // continue with children
                for (let edgeId in root.edges) {
                    if (!root.edges.hasOwnProperty(edgeId)) {
                        continue;
                    }
                    if (root.edges[edgeId].node) {
                        this._rebuildVisTreeRecursive(root.edges[edgeId].node);
                    }
                }
            },

            /**
             * Redraws the tree visualization.
             */
            redrawVisTree: function () {
                let container = $(`#${this.id} > .tree-canvas`).get(0);
                let opts = $.extend(true, {}, defaultVisOpts.tree, this.visOptions.tree);
                this.visTree = new vis.Network(container, {nodes: this.visNodes, edges: this.visEdges}, opts);
            },

            changeVisNodeColor: function (nodeId, color) {
                let visNode = this.visNodes.get({
                    filter: function (item) {
                        return item.id == nodeId;
                    }
                });
                visNode = visNode[0];
                console.log(visNode);
                if (_.isUndefined(visNode)) return; // leafs
                visNode.color = color;
                this.visNodes.update(visNode);
                this.redrawVisTree();
            },

            changeVisEdgeColor: function (edgeId, color) {
                let visEdge = this.visEdges.get({
                    filter: function (item) {
                        return item.id == edgeId;
                    }
                });
                visEdge = visEdge[0];
                console.log(visEdge);
                if (_.isUndefined(visEdge)) return; // leafs
                visEdge.color = color;
                this.visEdges.update(visEdge);
                this.redrawVisTree();
            }
        },
        events: {
            'Tree.dispatchTree': function () {
                this.$dispatch('Main.dispatchTree', this.tree, {nodes: this.visNodes, edges: this.visEdges});
            },
            'Tree.updateTree': function (tree, treeVis) {
                this.updateTree(tree, treeVis);
            },
            'Tree.redrawTree': function () {
                this.redrawVisTree();
            }
        }
    }
</script>
