.dataset
  margin: 20px 0

.dataset__data
  margin: 20px 0

  th, td
    text-align: center

th.dataset__considered
  background: $green

th.dataset__split
  background: $green

th.dataset__filter, td.dataset__filter
  background: $orange

td.dataset__filter_goal
  background: $blue
